*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     background-color: rgb(244, 243, 243);
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     
}
main{
    width: 100vw;
     height: 100vh;
     overflow-x: hidden;
}
nav{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    background-color: white;
    height: 10vh;
    align-items: center;
      box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.head{
    gap: 20px;
    display: flex;
    cursor: pointer;
    color: rgb(91, 86, 86);
}

.logo{
     cursor: pointer;
    font-size: 1.5rem;
}
.username{
     cursor: pointer;
    display: flex;
    width: 100px;
    height: 30px;
    justify-content: center;
    align-items: center;
    color: rgb(3, 132, 132);
    background-color: rgb(215, 231, 226);
    border-radius: 10px;
}
.main{
    margin-top: 50px;
    display: flex;
    background-color: white;
    width: 100vw;
    height: 80vh;
}



.right img{
    width: 50vw;
}
    .left{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box{
        width: 60%;

    }
.left h1{
    margin-top: 20px;
    display: flex;
   justify-content: center;

   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.left .two{
    font-size: 2.5rem;
    color:rgb(25, 103, 192);
}

button{
    margin-top: 40px;
    height: 45px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    color: white;
    background-color: aqua;
    border: none;
}

/* responsive */
@media (max-width: 768px) {
  .main {
    flex-direction: column;
    height: auto;
  }

  .left, .right {
    width: 100vw;
    height: auto;
  }

  .right img {
    width: 80vw;
    margin: 2vh 0;
  }

  .box {
    width: 80%;
  }

  .left h1 {
    font-size: 4vw;
  }

  .left .two {
    font-size: 5vw;
  }

  .left .four {
    font-size: 3vw;
  }

  button {
    width: 50vw;
  }
}













